<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933734030914-g7tvn2fbbvic2e2fgjgc0010883pgso3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933734030914-g7tvn2fbbvic2e2fgjgc0010883pgso3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>933734030914-3cmvnkpe45kf5h7eo2lc52vns6utj3ov.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfJLsdzDURfSrXO_1E0MlpROvUzi193z8</string>
	<key>GCM_SENDER_ID</key>
	<string>933734030914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pixa.VNRiddles</string>
	<key>PROJECT_ID</key>
	<string>doan-d2374</string>
	<key>STORAGE_BUCKET</key>
	<string>doan-d2374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933734030914:ios:c95dd203fd70bd12ff17db</string>
	<key>DATABASE_URL</key>
	<string>https://doan-d2374.firebaseio.com</string>
</dict>
</plist>